<div class="footer">
    <% if (landlord.isCompany) { %>
        <%= landlord.companyInfo.legalStructure+' '+landlord.name+' au capital de '+landlord.companyInfo.capital+' '+landlord.currency+' '+landlord.companyInfo.ein %>
    <% } else { %>
        <%= landlord.stakeholder.name %>
    <% } %>
</div>